html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow-y: auto; */
  

}
#profile{
  position: absolute;  
  top: 5%;
  margin-left: 5%;
  border: 1px solid #708993;
  height: 30%;
  width: 25%;

}
#box {
  height: 200vh;
  width: 100%;
  border: #555;
  background-color: #E17564;
  text-align: center;
  position: absolute;
  border: 3px solid green;
  
}
#brief{
 position: absolute;  
  top: 2%;
  margin-left: 30%;
  width: 300px;   /* use px instead of % for better control */
  height: 300px;
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
button{
  color: aqua;
  background-color:#19183B;
}

#brief p{  
  font-size: 23px;
  line-height: 1.4;
  word-wrap: break-word;
  margin: 0;
  color: black;
  
}

#personalprojects{
  position: relative;  
  top: 3%;
  margin-left: 50%;
  border: 4px solid pink;
  height: 19%;
  width: 35%;
  padding: 50px;
  background-color: aliceblue;
  display: none;
  overflow: hidden;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoqMQm4KuOCUn2pV2AOHEBPUxLMXzrLN7eCg&s');
}
.alert-navigation{
    position: absolute;
    border: 2px solid  black;
    height: 50%;
    width: 20%;
    margin-left: 4%;

}
.mastende{
    position: absolute;
    border: 2px solid  black;
    height: 51%;
    width: 20%;
    margin-left: 32%;

}
.firstproject{
    position: absolute;
    border: 2px solid  black;
    height: 50%;
    width: 20%;
    margin-left: 60%;


}
.details{
    margin-top: 20px;
    position: absolute;
    margin-left: 7%;
    width: 70%;
    height: 16%;
    bottom: 50%;
    display: flex;
    gap: 20px;
    
}
.detail {
  color: black;
  flex-shrink: 0;
}

.detail button{
  color: aqua;
  background-color:navy;
  
}

#education{
    margin-left:1%; 
    left: 0; 
    top: 0; 
    position: absolute
}
#socialMedia{
    margin-left:35%; 
    left: 0; 
    top: 0; 
    position: absolute
    
    

}
#achievements{
    margin-left:70%; 
    left: 0; 
    top: 0; 
    position: absolute

}
.proof{
   
   position: absolute;
   margin-right: 1px;
   width: 15%;
   height: 20%;
   bottom: 15%;
   

}

.wrapper {
  height: 200px;
  display: flex;
  gap: 30px;
  
}
h3{
  color:#E17564;
}
.box {
  border: 5px solid black;
}

.box img {
  width: 100%;
  height: 100%;
}

.alert-navigation img {
  object-fit: cover;
}

.mastende {
  object-fit: contain;
}

 .firstproject {
  object-fit: fill;
}

.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #E17564;
  
}

.topnav a {
  float: left;
  color:#09122C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
 
  color: whitesmoke;
}

.topnav a.active {
  background-color: #ddd;
  color: #19183B;
}